@import '../variables';

.stock-card {
    display: flex;
    padding: 10px;
    min-height: 105px;
}
    .stock-card-left {
        width: 80px;

        display: flex;
        align-items: center;
        position: relative;

        // Styling for the stock graph
        .stock-graph {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 10%;

            .stock-line-indicator {
                position: absolute;
                height: 80%;
                width: 2px;
                // Account for width
                left: calc(35% - 2px);
                top: 10%;
            }

            .stock-arrow {
                color: $white;
                position: absolute;
                // Account for width of the line
                left: calc(20% - 2px);
            }

            .stock-high, .stock-low {
                position: absolute;
                left: 50%;
                color: $white;
                font-size: .6rem;
                font-weight: bold;
            }

            .stock-high {
                top: 5%;
            }

            .stock-low {
                bottom: 5%;
            }

            // Change color of graph background and stock-line-indicator depending on stock data state
            &.is-up {
                background: linear-gradient($stock-graph-green, $stock-graph-dark-green);

                .stock-line-indicator {
                    background: linear-gradient($white, rgba(255, 255, 255, 0.1));
                }
            }
            &.is-down {
                background: linear-gradient($stock-graph-red, $stock-graph-dark-red);

                .stock-line-indicator {
                    background: linear-gradient(rgba(255, 255, 255, 0.1), $white);
                }
            }
        }
    }

    .stock-card-right {
        flex-grow: 1;
        padding: 10px;
        background-color: $white;
    }

    .stock-price-arrow {
        position: relative;
        width: 0.65rem;
        height: 0.65rem;
        margin-left: 10px;
        margin-right: 5px;

        .down-arrow,.up-arrow {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

.stock-title {
    font-size: 1.1em;
    font-weight: bold;
    color: $type;
    text-transform: uppercase;
    margin-bottom: 0;
}

.stock-symbol-label {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .7em;
    color: $caption;
}

.stock-price {
    font-size: 1.3em;
    color: $type;
    margin-top: 5px;

    // Display correct arrow and font color based on Stock data state
    &.is-up {
        .up-arrow {
            display: inline-block;
            // Convert from black to green
            filter: invert(40%) sepia(63%) saturate(5003%) hue-rotate(126deg) brightness(98%) contrast(103%);
        }
        .stock-price-change-amount {
            color: $stock-graph-dark-green;
        }
        .stock-price-change-percent {
            color: $bright-green;
        }
    }
    &.is-down {
        .down-arrow {
            display: inline-block;
            // Convert from black to red
            filter: invert(19%) sepia(67%) saturate(2106%) hue-rotate(351deg) brightness(88%) contrast(117%);
        }
        .stock-price-change-amount {
            color: $stock-graph-dark-red;
        }
        .stock-price-change-percent {
            color: $stock-graph-red;
        }
    }
}
    .stock-price-change-amount, .stock-price-change-percent {
        font-size: .7em;
    }

.stock-recent-performance {
    color: $charcoal;
    font-size: .7em;
}
    .stock-recent-performance-detail {
        margin-right: 5px;
        font-weight: 600;
        color: $caption;

        .stock-recent-performance-detail-bold {
            color: $type;
        }
    }

