@import '../variables';

.stock-card {
    display: flex;
    margin: 5px;
    background: $white;
    min-height: 105px;
}
    .stock-card-left {
        width: 80px;

        display: flex;
        align-items: center;
        position: relative;

        .stock-graph {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 10%;

            .stock-line-indicator {
                position: absolute;
                height: 80%;
                width: 2px;
                // Account for width
                left: calc(35% - 2px);
                top: 10%;
            }

            .stock-arrow {
                color: $white;
                position: absolute;
                // Account for width of the line
                left: calc(20% - 2px);
            }

            .stock-high, .stock-low {
                position: absolute;
                left: 50%;
                color: $white;
                font-size: 0.65rem;
            }

            .stock-high {
                top: 5%;
            }

            .stock-low {
                bottom: 5%;
            }

            &.is-up {
                background: linear-gradient($stock-graph-green, $stock-graph-dark-green);

                .stock-line-indicator {
                    background: linear-gradient($white, rgba(255, 255, 255, 0.1));
                }
            }
            &.is-down {
                background: linear-gradient($stock-graph-red, $stock-graph-dark-red);

                .stock-line-indicator {
                    background: linear-gradient(rgba(255, 255, 255, 0.1), $white);
                }
            }
        }
    }

    .stock-card-right {
        flex-grow: 1;
        padding: 10px;
    }

.stock-title {
    font-size: 1.1em;
    color: $dark-blue;
    text-transform: uppercase;
    margin-bottom: 0;
}

.stock-symbol-label {
    font-size: 0.8em;
    text-transform: uppercase;
    line-height: .7em;
    color: $charcoal;
}

.stock-price {
    font-size: 1.3em;
    color: $dark-blue;
    margin-top: 5px;
}
    .stock-price-change {
        font-size: .7em;
    }

.stock-recent-performance {
    color: $charcoal;
    font-size: .7em;
}
    .stock-recent-performance-detail {
        margin-right: 5px;
    }

// @TODO - add styles for the stock graph
