<div class="stock-card-left d-none d-md-block">
    <div class="stock-graph <%- getIsUpClassName(changePercent) %>">
        <div class="stock-line-indicator"></div>
        <div class="stock-arrow" style="bottom: <%- getArrowPositionPercent(high, low, open) %>%">⮞</div>
        <div class="stock-high"><%- formatMoney(high) %></div>
        <div class="stock-low"><%- formatMoney(low) %></div>
    </div>
</div>
<div class="stock-card-right">
    <h3 class="stock-title d-flex justify-content-between">
        <%- name %>
        <span class="sm-stock-price d-block d-md-none"><%- formatMoney(price) %></span>
    </h3>
    <div class="stock-symbol-label"><%- symbol %></div>
    <div class="stock-price d-flex align-items-center justify-content-end justify-content-md-start pl-md-0 <%- getIsUpClassName(changePercent) %>">
        <span class="md-current-price d-none d-md-inline-block"><%- formatMoney(price) %></span>
        <div class="stock-price-arrow d-inline-block">
            <svg class="up-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M34.9 289.5l-22.2-22.2c-9.4-9.4-9.4-24.6 0-33.9L207 39c9.4-9.4 24.6-9.4 33.9 0l194.3 194.3c9.4 9.4 9.4 24.6 0 33.9L413 289.4c-9.5 9.5-25 9.3-34.3-.4L264 168.6V456c0 13.3-10.7 24-24 24h-32c-13.3 0-24-10.7-24-24V168.6L69.2 289.1c-9.3 9.8-24.8 10-34.3.4z"/></svg>
            <svg class="down-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"/></svg>
        </div>
        <span class="stock-price-change-amount mr-1"><%- formatMoney(change) %></span>
        <span class="stock-price-change-percent">(<%- changePercent %>)</span>
    </div>
    <div class="stock-recent-performance d-none d-md-block">
        <span class="stock-recent-performance-detail">
            OPEN 
            <span class="stock-recent-performance-detail-bold"><%- formatMoney(open) %></span>
        </span>
        <span class="stock-recent-performance-detail">
            HIGH
            <span class="stock-recent-performance-detail-bold"><%- formatMoney(high) %></span>
        </span>
        <span class="stock-recent-performance-detail">
            LOW
            <span class="stock-recent-performance-detail-bold"><%- formatMoney(low) %></span>
        </span>
    </div>
</div>
