@import "../variables.scss";

#app {
    font-family: "Open Sans", sans-serif;
}

.page-header {
    color: $type;
    font-weight: 600;
}

#stock-search-input {
    background-color: $light-gray;
}

#stock-search-input-label {
    color: $error;
}

#stock-search-button {
    background-color: $button-primary;
    font-weight: 600;
    border-radius: 2.5px;

    box-shadow: -1px 18px 148px -14px rgba(0,0,0,0.74);
    -webkit-box-shadow: -1px 18px 148px -14px rgba(0,0,0,0.74);
    -moz-box-shadow: -1px 18px 148px -14px rgba(0,0,0,0.74);
}